.reading
  color: #FFF

  .btn-back
    padding: 5px 20px
    margin-bottom: 66px
    border: 1px solid #FFF
    border-radius: 4px
    color: #FFF
    font-size: 1em
    font-family: 'Lobster', sans-serif
    text-decoration: none
    cursor: pointer
    display: inline-block
