.page-transition-enter
  opacity: 0.01
  transition: opacity .5s ease-in

  &.page-transition-enter-active
    opacity: 1

.page-transition-leave
  opacity: 1
  transition: opacity .5s ease-in

  &.page-transition-leave-active
    opacity: 0
