body
  color: #FFF
  font-family: 'Abel', sans-serif
  background-color: #000
  overflow-x: hidden

h1,h2,h3,h4
  font-weight: bold;

.page-title
  text-align: center
  font-size: 1.5em
  margin-bottom: 33px

.hide
  display: none

.main
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1000px

.tarot-table
  .card
    margin-bottom: 1em

.button-spread-type
  width: 100%
  padding: 20px
  margin-bottom: 33px
  border-radius: 6px
  border: 1px solid #171717
  background: #0a0a0a
  display: block
  transition: all 0.2s ease .1s

  &:hover, &:active, &:focus
    color: #000
    background: #FFF
