body
	background: url(../img/bg.png) repeat center center fixed
  background-color: #000
	background-size: cover
	font-family: 'Abel', sans-serif

h1,h2,h3,h4
  font-weight: bold;

.hide
  display: none
