body
  font-family: 'Abel', sans-serif
  background-color: #000

h1,h2,h3,h4
  font-weight: bold;

.hide
  display: none

.main
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow-x: hidden
  z-index: 1000px
