.card
  position: relative
  cursor: pointer

  .frontside
    position: absolute
    top: 0
    right: 0
    z-index: 0
    visibility: hidden
    transition: all 0.2s ease .1s
    transform: rotateY(180deg)

  .backside
    z-index: 1

  &.overlay
    opacity: .2
    filter: grayscale(100%)

  &.show-frontside
    transform: rotateY(180deg)
    transition: all 0.2s ease .1s

    .frontside
      visibility: visible
      z-index: 1

    .backside
      transform: rotateY(180deg)
      transition: all 0.2s ease .1s
      z-index: 0

  &.reversed
    .frontside
      transform: rotateX(180deg)

  .spreadTypeCardFeature
    display: inline-block
    color: #b7b7b7
    font-size: 0.8em
    transition: all 0.2s ease .1s
