.card
  position: relative
  cursor: pointer

  .frontside
    position: absolute
    top: 0
    right: 0

  .frontside
    transition: all 0.2s ease .1s
    transform: rotateY(180deg)
    z-index: 0
    visibility: hidden

  .backside
    z-index: 1

  &.show-frontside
    transform: rotateY(180deg)
    transition: all 0.2s ease .1s

    .frontside
      visibility: visible
      z-index: 1

    .backside
      transform: rotateY(180deg)
      transition: all 0.2s ease .1s
      z-index: 0
