.spread-type
  width: 100%
  padding: 20px
  margin-bottom: 33px
  border-radius: 6px
  border: 1px solid #171717
  background: #0a0a0a
  display: block
  transition: all 0.2s ease .1s

  &:hover
    color: #000
    background: #FFF

    .card
      span
        color: #666 !important

  .description
    text-align: left

  .cards
    text-align: center

    &:after
      display: block
      content: ''
      clear: both

    .card
      width: 33%
      margin-bottom: 10px
      display: inline-block

      span
        color: #b7b7b7
        font-size: 0.8em
        transition: all 0.2s ease .1s
