.button-spread-type
  width: 100%
  padding: 20px
  margin-bottom: 33px
  border-radius: 6px
  border: 1px solid #171717
  background: #0a0a0a
  display: block
  transition: all 0.2s ease .1s

  &:hover, &:active
    color: #000
    background: #FFF
